<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CoffeeShopDbContext" connectionString="metadata=res://*/CoffeeShopModel.csdl|res://*/CoffeeShopModel.ssdl|res://*/CoffeeShopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CoffeeShopEF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>